* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

ul,
li {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
  padding: 8px 16px;
  font-weight: 500;
  font-family: inherit;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
  border: none;
  background-color: #4e75ff;
  border-radius: 8px;
}

/* --------------task-1-------------- */
#categories {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 440px;
  height: 888px;
}

.item {
  list-style: none;
  padding: 16px;
}

.category-title {
  margin-bottom: 16px;
}

.category-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.category-item {
  list-style-type: none;
  border: 1px solid #808080;
  border-radius: 4px;
  padding: 8px 16px;
  height: 40px;
  color: #2e2f42;
}
/* ---------------------------------- */

/* --------------task-2-------------- */
.gallery {
  max-width: 1128px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.gallery-item {
  flex-basis: calc((100% - 48px) / 3);
}

.gallery-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* ---------------------------------- */

/* --------------task-3-------------- */
#name-input {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  padding-left: 16px;
}

.greeting {
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
/* ---------------------------------- */

/* --------------task-4-------------- */
.login-form {
  display: flex;
  flex-direction: column;
}

.login-form-label {
  display: flex;
  flex-direction: column;
  width: 360px;
  height: 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.login-form-input {
  outline: none;
  border: 1px solid #808080;
  border-radius: 4px;
  padding-left: 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.login-form-button {
  width: 86px;
  height: 40px;
  margin-top: 16px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.login-form-input:hover {
  border: 1px solid #000;
}

.login-form-button:hover {
  background-color: #6c8cff;
}
/* ---------------------------------- */

/* --------------task-5-------------- */
.widget {
  padding: 100px 88px;
}

.text-color {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
  margin-bottom: 16px;
}

.change-color {
  width: 148px;
  height: 40px;
}

/* ---------------------------------- */
